################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModuloCalculation/bin
/ModuloCalculation/obj
/ElipticCryptography/ElipticCryptography/bin/Debug
/ElipticCryptography/ElipticCryptography/obj/Debug
/TroubleShooter/Kros.TroubleShooterClient/bin
/TroubleShooter/Kros.TroubleShooterClient/obj
/TroubleShooter/.vs/TroubleShooter/v14
/TroubleShooter/Kros.TroubleShooter/obj/Debug
/TroubleShooter/packages
/ElipticCryptography/ElipticCryptoTest/bin
/ElipticCryptography/ElipticCryptoTest/obj
/ElipticCryptography/.vs
/StreamCipherBreak/StreamCipherBreak/bin
/StreamCipherBreak/.vs
/StreamCipherBreak/StreamCipherBreak/obj
/SWLDataEvaluator/MyControls/MyControls/bin
/SWLDataEvaluator/MyControls/MyControls/obj
/RSA/obj
/RSA/bin
/RSA/.vs
/MyControls/MyControls/bin
/MyControls/MyControls/obj
/MyControls/.vs
/TroubleShooter/Kros.TroubleShooterServer/obj
/TroubleShooter/Kros.TroubleShooterServer/bin
/TroubleShooter/Kros.TroubleShooterLibrary/obj/Debug
/.vs
/Battleships/BattleshipsClient/obj
/Battleships/BattleshipsDatabase/obj
/Battleships/BattleshipsServer/obj
/Battleships/BattleshipsServiceLibrary/obj
/ElipticCryptography/ElipticCryptography/obj
/TroubleShooter/.vs
/TroubleShooter/Kros.TroubleShooterService/bin
/TroubleShooter/Kros.TroubleShooterService/obj
/AspAngularTest/.vs
/AspAngularTest
/ModuloCalculation/.vs/ModuloCalculation/v15
/ModuloExtensions/.vs/ModuloExtensions
/ModuloExtensions/ModuloExtensions/bin/Debug/netstandard2.0
/ModuloExtensions/ModuloExtensions/obj
/ModuloExtensions/packages
/ModuloExtensions/UnitTests/bin/Debug
/ModuloExtensions/UnitTests/obj/Debug
/ElipticCryptography/Eliptic crypto test/bin/Debug
/ElipticCryptography/Eliptic crypto test/obj/Debug
/ElipticCryptography/ElipticCurves/bin/Debug/netstandard2.0
/ElipticCryptography/ElipticCurves/obj/Debug/netstandard2.0
/ElipticCryptography/ElipticCurves/obj
/ElipticCryptography/packages/MSTest.TestAdapter.1.2.0
/ElipticCryptography/packages/MSTest.TestFramework.1.2.0
/ElipticCryptography/ElipticCurves/bin/Debug/netstandard1.6
/ModuloExtensions/ModuloExtensions/bin/Debug/netstandard1.6
/obj/Debug
/TroubleShooter/Kros.TroubleShooterCommon/bin/Debug/netstandard1.6
/TroubleShooter/Kros.TroubleShooterCommon/obj
/TroubleShooter/HostingApp/bin/Debug
/TroubleShooter/HostingApp/obj/Debug
/TroubleShooter/Kros.TroubleShooterServer/Servis/Fju8k8++MCk4SMVZuf9qdOr_yjuEGrGdGjzvevCs
/TroubleShooter/Kros.TroubleShooterInput/bin/Debug
/TroubleShooter/Kros.TroubleShooterInput/obj/Debug
/TroubleShooter/obj/Debug
/TroubleShooter/ElipticCryptoTest/bin/Debug
/TroubleShooter/ElipticCryptoTest/obj
/TroubleShooter/Kros.ElipticCryptography/bin
/TroubleShooter/Kros.ElipticCryptography/obj
/TroubleShooter/Kros.ModuloExtensions/bin
/TroubleShooter/Kros.ModuloExtensions/obj
/TroubleShooter/Kros.TroubleShooterCom/bin
/TroubleShooter/Kros.TroubleShooterCom/obj
/TroubleShooter/Kros.TroubleShooterInput/bin/Release
/TroubleShooter/Kros.TroubleShooterInput/obj/Release
/TroubleShooter/Kros.TroubleShooterServer/Servis
/TroubleShooter/MyControls/MyControls/bin
/TroubleShooter/MyControls/MyControls/obj
/TroubleShooter/ElipticCryptoTest/bin/Release
/beta/Olymp/bin/Debug/TroubleShooter
/TroubleShooter/Kros.TroubleShooterServer/wwwroot
