<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/battleshipsservice"
        binding="netNamedPipeBinding"
        contract="BattleshipsServiceLibrary.IBattleshipsService"
        name="MyNetNamedPipeEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>
